<ion-content fullscreen *ngIf="showSplash" style="; height:100vh; width:100%;">
	<div
		style="width:100%; height:100vh; background-image:url('https://cdn.jsdelivr.net/gh/ashish051321/sample21@master/grey_pattern.png'); display:flex; flex-direction:column; justify-content:space-around; align-items:center;">
		<p class="text-white font-weight-lighter h1 splashText mb-4"> {{screenConst.appName}}</p>
		<img src="https://cdn.jsdelivr.net/gh/ashish051321/sample21@master/assets/splashPics/2.png" alt="" width="100px" height="100px"
    style="background-color:lightgreen;padding:5px;" *ngIf="splashIndex == 1 || splashIndex == 2"/>
		<img src="https://cdn.jsdelivr.net/gh/ashish051321/sample21@master/assets/splashPics/3.png" alt="" width="100px" height="100px"
    style="background-color:lightgreen;padding:5px;" *ngIf="splashIndex == 3"/>
		<img src="https://cdn.jsdelivr.net/gh/ashish051321/sample21@master/assets/splashPics/4.png" alt="" width="100px" height="100px"
    style="background-color:lightgreen;padding:5px;" *ngIf="splashIndex == 4"/>
		<img src="https://cdn.jsdelivr.net/gh/ashish051321/sample21@master/assets/splashPics/5.png" alt="" width="100px" height="100px"
    style="background-color:lightgreen;padding:5px;" *ngIf="splashIndex == 5"/>
		<img src="https://cdn.jsdelivr.net/gh/ashish051321/sample21@master/assets/splashPics/6.png" alt="" width="100px" height="100px"
    style="background-color:lightgreen;padding:5px;" *ngIf="splashIndex == 6"/>
		<p class="text-white font-weight-light h4 splashText mb-4">{{screenConst.quoteofTheDay}}</p>
		<button ion-button big class="h2 font-weight-light bg-success text-white" (click)="startApp()">{{screenConst.splashStartCTA}}</button>
	</div>
</ion-content>


<ion-content fullscreen *ngIf="!showSplash"
	style="background-image:url('https://cdn.jsdelivr.net/gh/ashish051321/sample21@master/grey_pattern.png'); height:100vh;">
	<ion-card class="w-100 m-0 p-0 text-white" style="background-color:rgba(0,0,0,0.6)">
		<ion-card-header class="h2 text-white text-center">
			{{screenConst.loginWelcomeTitle}}
		</ion-card-header>
		<ion-card-content class="text-center">
			{{screenConst.loginWelcomeDescription}}
		</ion-card-content>
	</ion-card>

	<div class="alert alert-danger" role="alert">
		<strong>Heads up!</strong> Due to a scheduled upgrade to the system, you might not be able to access all the
		functions of this platform.
	</div>

	<ion-card class="mt-4 changingBanner">
		<img [src]="loginCardImages[0].imageUrl" width="100%" height="200px"/>
		<ion-card-content>
			<ion-card-title>
				{{loginCardImages[0].title}}
			</ion-card-title>
			<p>
				{{loginCardImages[0].desc}}
			</p>
		</ion-card-content>
	</ion-card>
	<div class="mt-4" style="display:flex; justify-content:center;align-items:center">
		<button ion-button big class="h2 font-weight-light bg-success text-white" (click)="login()">{{screenConst.socialLoginGoogle}} >></button>
	</div>
</ion-content>